
<div class="container">
    <h1>Restaurants</h1>
    <div class="card">
         <% @restaurants.each do |restaurant| %>

            <div class="card-category mt-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
                <%=  link_to restaurant.name, restaurant_path(restaurant)  %>
            </div>
        <% end %>
    </div>
    <%= link_to "Add new restaurant", new_restaurant_path, class:"btn btn-primary"  %>
   

</div>

